.about {
  background-color: $basic-blue;
  color: $basic-white;
  background-image: url("../img/about-mobile@1x.png");
  background-repeat: no-repeat;
  padding-top: 33px;
  padding-left: 49px;
  padding-bottom: 82px;
  padding-right: 60px;
}

.about__text {
  &--bold {
    font-weight: 700;
  }
}
