.business-rates {
  display: none;
  position: fixed;
  z-index: 10;
  width: calc(100% - 50px);
  min-height: 443px;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background-color: $basic-white;
  border-radius: 20px;
  padding-top: 34px;

  &--active {
    display: block;
  }

  @media (min-width: $tablet-width) {
    width: calc(100% - 80px);
    padding-top: 54px;
  }

  @media (min-width: $desktop-width) {
    width: 750px;
  }
}

.business-rates__title {
  text-align: center;
  margin-bottom: 28px;

  @media (min-width: $tablet-width) {
    margin-bottom: 47px;
  }
}

.business-rates__list {
  list-style: none;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  margin-left: 25px;
  margin-right: 26px;
  margin-bottom: 37px;

  @media (min-width: $tablet-width) {
    margin-left: 90px;
    margin-right: 90px;
    margin-bottom: 52px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 60px;
    margin-right: 60px;
  }
}

.business-rates__item {
  display: flex;
  flex-direction: column;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  padding-top: 10px;
  padding-bottom: 10px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    font-size: 22px;
    line-height: 28px;
    padding-top: 13px;
    padding-bottom: 13px;
  }
}

.business-rates__button {
  width: 100%;
  border: none;
  background-color: #f3f4f8;
  height: 59px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: $special-blue;

  @media (min-width: $tablet-width) {
    height: 108px;
    text-transform: none;
    font-size: 22px;
    line-height: 24px;
  }
}
