.button {
  background-color: $basic-yellow;
  color: $special-blue;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;

  &:focus,
  &:hover {
    background-color: $special-yellow-dark;
  }

  &:active {
    color: $special-blue-30;
  }
}
