.companions-list {
  list-style: none;
}

.companions-list__item {
  background-color: $basic-white;
  border-radius: 10px;
  overflow: hidden;
}

.companions-list__name {
  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
  color: $special-blue;
}

.companions-list__tags {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: $special-grey;
}
