.companions {
  padding-top: 68px;
  padding-left: 25px;
  padding-bottom: 31px;
  padding-right: 25px;
  color: $basic-white;
  background-color: $basic-blue;
  background-image:
    url("../img/rogovaya-back-mobile@1x.png"),
    url("../img/smolov-back-desktop@1x.png");
  background-repeat: no-repeat;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.companions__text {
  &--bold {
    font-weight: 700;
  }
}
