.companions-countries {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.companions-countries__item {
  margin-left: 10px;
  margin-right: 10px;

  &::before {
    content: "";
    display: block;
    width: 35px;
    height: 25px;
    background-repeat: no-repeat;
    background-size: 35px, 25px;
  }

  &--sri-lanka::before {
    background-image: url("../../img/flag-sri-lanka.svg");
  }

  &--thailand::before {
    background-image: url("../../img/flag-thailand.svg");
  }

  &--seychelles::before {
    background-image: url("../../img/flag-seychelles.svg");
  }

  &--belgium::before {
    background-image: url("../../img/flag-belgium.svg");
  }

  &--czech::before {
    background-image: url("../../img/flag-czech.svg");
  }
}
