.companions {
  position: relative;
  z-index: 4;
  margin-top: -80px;
  padding-top: 148px;
  padding-bottom: 31px;
  color: $basic-white;
  background-color: $basic-blue;
  background-image:
    url("../img/rogovaya-back-mobile@1x.png"),
    url("../img/smolov-back-desktop@1x.png");
  background-size: 64px 71px, 143px 143px;
  background-position: -2px 387px, 152px 115px;
  background-repeat: no-repeat;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;

  &::before {
    position: absolute;
    z-index: -1;
    content: "";
    display: block;
    width: 113px;
    height: 132px;
    background-color: #141b3b;
    border-radius: 20px;
    top: 114px;
    left: -1px;
  }

  @media (min-resolution: 2dppx) {
    background-image:
      url("../img/rogovaya-back-mobile@2x.png"),
      url("../img/smolov-back-desktop@2x.png");
  }

  @media (min-width: $tablet-width) {
    padding-top: 221px;
    padding-bottom: 87px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    background-image:
      url("../img/rogovaya-back-desktop@1x.png"),
      url("../img/smolov-back-desktop@1x.png");
    background-size: 285px 285px, 143px 143px;
    background-position: 409px 158px, 40px 504px;

    @media (min-resolution: 2dppx) {
      background-image:
        url("../img/rogovaya-back-desktop@2x.png"),
        url("../img/smolov-back-desktop@2x.png");
    }

    &::before {
      width: 212px;
      height: 212px;
      top: 150px;
      left: 40px;
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 210px;
    padding-bottom: 53px;
    background-position: 190px 466px, 546px 214px;

    &::before {
      left: 59px;
    }
  }
}

.companions__wrapper {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content min-content;
  }
}

.companions__text-wrapper {
  grid-column: 1;
  grid-row: 1;
  padding-left: 25px;
  padding-right: 30px;

  @media (min-width: $tablet-width) {
    padding-left: 33px;
    width: 500px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 70px;
    padding-right: 0;
  }
}

.companions__title {
  margin-bottom: 19px;

  @media (min-width: $tablet-width) {
    margin-bottom: 55px;
  }
}

.companions__text {
  margin: 0;
  margin-bottom: 21px;

  & br {
    display: none;
  }

  @media (min-width: $tablet-width) {
    font-size: 28px;
    line-height: 34px;
    margin-bottom: 39px;

    & br {
      display: inline;
    }
  }

  &--bold {
    font-weight: 700;
    grid-row: 3;
    margin-bottom: 54px;

    @media (min-width: $tablet-width) {
      font-size: 21px;
      line-height: 24px;
      margin-bottom: 59px;
      width: 260px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 7px;
    }
  }
}

.companions__list {
  grid-column: 2;
  grid-row: 1 / 3;
  margin-bottom: 19px;

  @media (min-width: $tablet-width) {
    margin-bottom: 72px;
  }
}

.companions__countries {
  margin-top: -17px;
  margin-bottom: 13px;

  @media (min-width: $tablet-width) {
    margin-top: -19px;
    margin-bottom: 18px;
  }
}

.companions__button-wrapper {
  grid-column: 1;
  grid-row: 2;

  @media (min-width: $tablet-width) {
    padding-left: 34px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 70px;
  }
}

.companions__button {
  width: 270px;

  @media (min-width: $tablet-width) {
    width: 616px;
  }

  @media (min-width: $desktop-width) {
    width: 280px;
  }
}
