.contact {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: $desktop-width) {
    display: flex;
  }

  &--mini {
    display: flex;

    .contact__link-text {
      display: none;
    }

    .contact__link-icon--tel {
      background-color: $special-orange;
    }

    .contact__link-icon--mail {
      background-color: $special-yellow-dark;
    }

    .contact__link-img {
      fill: $basic-blue-dark;
    }

    &:focus,
    &:hover {
      .contact__link-icon--tel {
        background-color: $special-orange-dark;
      }

      .contact__link-icon--mail {
        background-color: $special-orange;
      }

      .contact__link-img {
        fill: $basic-blue-dark;
      }
    }
  }

  &--mini-in-desktop {
    .contact__link-text {
      margin-left: 4%;

      @media (min-width: $tablet-width) {
        margin-left: 3%;
      }

      @media (min-width: $desktop-width) {
        display: none;
      }
    }

    .contact__link-icon {
      @media (min-width: $desktop-width) {
        width: 50px;
        height: 50px;
      }


      &--tel {
        @media (min-width: $desktop-width) {
          background-color: $special-orange;
        }
      }

      &--mail {
        @media (min-width: $desktop-width) {
          background-color: $special-yellow-dark;
        }
      }
    }

    .contact__link-img {
      @media (min-width: $desktop-width) {
        fill: $basic-blue-dark;
      }

      &--tel {
        @media (min-width: $desktop-width) {
          width: 15.9px;
          height: 16.2px;
          margin-top: 16px;
        }
      }

      &--mail {
        @media (min-width: $desktop-width) {
          width: 14.4px;
          height: 11.2px;
          margin-top: 19px;
        }
      }
    }

    .contact__link {
      &:focus,
      &:hover {
        .contact__link-icon--tel {
          @media (min-width: $desktop-width) {
            background-color: $special-orange-dark;
          }
        }

        .contact__link-icon--mail {
          @media (min-width: $desktop-width) {
            background-color: $special-orange;
          }
        }

        .contact__link-img {
          @media (min-width: $desktop-width) {
            fill: $basic-blue-dark;
          }
        }
      }
    }
  }
}


.contact__link {
  &:focus,
  &:hover {
    outline: none;

    .contact__link-text {
      color: $special-yellow-dark;
    }

    .contact__link-img {
      fill: $special-yellow-dark;
    }
  }

  &:active {
    opacity: 0.3;
  }
}

.contact__link-icon {
  display: inline-block;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: $special-blue-dark;
  text-align: center;
  vertical-align: middle;

  @media (min-width: $tablet-width) {
    width: 68px;
    height: 68px;
    vertical-align: baseline;
  }

  @media (min-width: $desktop-width) {
    width: 90px;
    height: 90px;
  }
}

.contact__link-img {
  display: inline-block;

  &--tel {
    width: 15.7px;
    height: 14.83px;
    margin-top: 15px;
    fill: $basic-yellow;

    @media (min-width: $tablet-width) {
      width: 23.7px;
      height: 22.4px;
      margin-top: 23px;
    }

    @media (min-width: $desktop-width) {
      width: 36px;
      height: 34px;
      margin-top: 30.1px;
    }
  }

  &--mail {
    width: 18.28px;
    height: 12.5px;
    margin-top: 17px;
    fill: $basic-yellow;

    @media (min-width: $tablet-width) {
      width: 27.6px;
      height: 18.8px;
      margin-top: 26px;
    }

    @media (min-width: $desktop-width) {
      width: 36.5px;
      height: 25px;
      margin-top: 34px;
    }
  }
}

.contact__link-text {
  display: inline-block;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: $basic-yellow;
  text-transform: uppercase;
  margin-left: 16px;

  &--blue {
    color: $basic-blue;
  }

  @media (min-width: $tablet-width) {
    font-size: 28px;
    line-height: 28px;
    margin-left: 22px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 31px;
  }
}
