.contact {
  list-style: none;
  margin: 0;
  padding: 0;


  &--mini {
    display: flex;

    .contact-link__text {
      display: none;
    }

    .contact-link__icon--tel {
      background-color: $special-orange;
    }

    .contact-link__icon--mail {
      background-color: $special-yellow-dark;
    }

    .contact-link__img {
      fill: $basic-blue-dark;
    }

    &:focus,
    &:hover {
      .contact-link__icon--tel {
        background-color: $special-orange-dark;
      }

      .contact-link__icon--mail {
        background-color: $special-orange;
      }

      .contact-link__img {
        fill: $basic-blue-dark;
      }
    }
  }

  @media (min-width: $desktop-width) {
    display: flex;
  }
}
