.countries-list {
  list-style: none;
}

.countries-list__link {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: $special-grey;

  &:focus,
  &:hover {
    color: $special-blue;
    outline: none;
  }

  &:active {
    color: $special-blue;
    opacity: 0.3;
  }
}
