.countries-item {
  display: none;

  &--active {
    display: block;
  }

  @media (min-width: $desktop-width) {
    display: block;
  }
}


.countries-item__title {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}
