.countries-alphabet {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  padding-top: 1px;
  padding-left: 1px;
  width: 222px;

  @media (min-width: $tablet-width) {
    width: 384px;
    height: 416px;
    justify-content: space-between;
    align-items: stretch;
  }
}

.countries-alphabet__item {
  background-color: $basic-white;
  color: $special-blue;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid $another-blue-medium;
  display: block;
  width: 45px;
  height: 42px;
  padding-top: 13px;
  margin-top: -1px;
  margin-left: -1px;


  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    width: 34px;
    height: 50px;
    border: none;
    background-color: $another-blue-lighten;
    margin-right: 20px;
    margin-left: 22px;
  }


  &:focus,
  &:hover {
    border: 1px solid $another-blue-darken;
    outline: none;
  }

  &:active {
    background-color: $special-blue;
    border: 1px solid $special-blue;
    color: $basic-white;
  }

  &--active {
    background-color: $special-blue;
    border: 1px solid $special-blue;
    color: $basic-white;

    @media (min-width: $tablet-width) {
      background-color: $another-blue-lighten;
      border: none;
    }

    &:focus,
    &:hover,
    &:active {
      outline: none;
      background-color: $special-blue;
      border: 1px solid $special-blue;
      color: $basic-white;
      cursor: default;
    }
  }
}

.countries-alphabet--white {
  @media (min-width: $tablet-width) {
    height: 346px;
    width: 261px;
    padding-top: 1px;
    padding-left: 1px;

    .countries-alphabet__item {
      font-size: 20px;
      line-height: 20px;
      width: 53px;
      height: 70px;
      color: $special-blue;
      background-color: $basic-white;
      border: 1px solid #cbced9;
      justify-content: start;
      align-items: start;
      margin-top: -1px;
      margin-left: -1px;
      margin-right: 0;
      padding-top: 27px;

      &--active {
        background-color: $special-blue;
        border: 1px solid $special-blue;
        color: $basic-white;
      }
    }
  }

  @media (min-width: $desktop-width) {
    width: 374px;
    height: inherit;

    .countries-alphabet__item {
      width: 60px;
      height: 70px;
      border-radius: 4px;
      margin-right: 15px;
      margin-top: 14px;
    }
  }
}
