.countries-alphabet {
  list-style: none;
}

.countries-alphabet__item {
  background-color: $basic-white;
  color: $special-blue;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid $another-blue-medium;

  &:focus,
  &:hover {
    border: 1px solid $another-blue-darken;
    outline: none;
  }

  &:active {
    background-color: $special-blue;
    border: 1px solid $special-blue;
    color: $basic-white;
  }

  &--active {
    background-color: $special-blue;
    border: 1px solid $special-blue;
    color: $basic-white;

    &:focus,
    &:hover {
      outline: none;
      background-color: $special-blue;
      border: 1px solid $special-blue;
      color: $basic-white;
      cursor: default;
    }

    &:active {
      background-color: $special-blue;
      border: 1px solid $special-blue;
      color: $basic-white;
      cursor: default;
    }
  }
}
