.directions {
  background-color: #edeff6;
  color: $special-grey;
  padding-top: 151px;
  padding-bottom: 34px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  margin-top: -80px;
  position: relative;
  z-index: 5;

  @media (min-width: $tablet-width) {
    background-image: url("../img/flags-back@1x.png");
    background-repeat: no-repeat;
    background-size: 288px, 574px;
    background-position: 440px 161px;
    padding-bottom: 81px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/flags-back@2x.png");
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 141px;
      height: 141px;
      background: #e2e5f2;
      border-radius: 20px;
      z-index: -1;
      top: 41%;
      left: 39px;
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 241px;
    padding-bottom: 98px;
    background-position: 1093px 166px;

    &::after {
      top: 20%;
      left: 59px;
    }
  }
}

.directions__wrapper {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content min-content;
  }
}

.directions__text-wrapper {
  grid-column: 2;
  grid-row: 1;
  padding-left: 25px;
  padding-right: 30px;
  margin-bottom: 60px;

  @media (min-width: $tablet-width) {
    padding-top: 2px;
    padding-left: 33px;
    width: 55%;
    padding-right: 0;
    margin-bottom: 103px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 5px;
    padding-left: 141px;
    margin-bottom: 52px;
    width: 100%;
  }
}

.directions__title {
  margin-bottom: 19px;

  @media (min-width: $tablet-width) {
    margin-bottom: 58px;
  }
}

.directions__text {
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 28px;
    line-height: 33px;
    width: 378px;
  }
}

.directions__list {
  grid-column: 1;
  grid-row: 1 / 3;
  width: 270px;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    width: 100%;
    margin-bottom: 39px;
  }
}

.directions__button-wrapper {
  grid-column: 2;
  grid-row: 2;

  @media (min-width: $tablet-width) {
    width: 100%;
    padding-left: 36px;
    padding-right: 35px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 141px;
  }
}

.directions__button {
  width: 270px;

  @media (min-width: $tablet-width) {
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    width: 275px;
  }
}
