.footer {
  background-color: $basic-white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-top: 38px;
  padding-bottom: 19px;
}

.footer__wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}
