.header-top {
  display: flex;
  justify-content: space-between;
}

.header-top__button {
  border: none;
  background-color: transparent;
  width: 18px;
  height: 19px;
  background-repeat: no-repeat;

  &--close {
    background-image: url("../../img/small-cross.svg");
    opacity: 0.1;
  }

  &:focus,
  &:hover {
    opacity: 0.3;
    outline: none;
  }

  &:active {
    opacity: 0.05;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.header-top__nav {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.header-top__contact {
  display: none;

  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.header-top__login {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    display: block;
  }
}
