.header {
  background-color: $basic-white;
  color: $basic-blue;
  padding-top: 25px;
  padding-bottom: 40px;
}

.header__login {
  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.header__nav {
  @media (min-width: $desktop-width) {
    display: none;
  }
}

.header__contact {
  @media (min-width: $desktop-width) {
    display: none;
  }
}

.header__socials {
  @media (min-width: $desktop-width) {
    display: none;
  }
}
