.login-button {
  color: $basic-blue-dark;
  background: $basic-yellow;
  border-radius: 25px;
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;

  &:focus,
  &:hover {
    background-color: $special-yellow-dark;
    outline: none;
  }

  &:active {
    background-color: $special-yellow-dark;
    color: $basic-blue-dark-30;
  }
}
