
.personal-info__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content 1fr min-content 1fr;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: min-content 1fr min-content 1fr;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 3fr 1fr 1fr;
    grid-template-rows: 1fr min-content 1fr;
  }
}

.personal-info__big-title {
  grid-column: 1 / 3;
  grid-row: 1;

  @media (min-width: $tablet-width) {
    grid-column: 1 / 4;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1;
  }
}

.personal-info__level {
  grid-column: 1;
  grid-row: 2;

  @media (min-width: $desktop-width) {
    grid-column: 2;
    grid-row: 1;
  }
}

.personal-info__avatar {
  display: block;
  grid-column: 2;
  grid-row: 2;

  @media (min-width: $tablet-width) {
    grid-column: 3;
  }

  @media (min-width: $desktop-width) {
    grid-row: 1;
  }
}

.personal-info__button-wrapper {
  grid-column: 1 / 3;
  grid-row: 3;

  @media (min-width: $tablet-width) {
    grid-column: 1 / 4;
  }

  @media (min-width: $desktop-width) {
    grid-column: 3;
    grid-row: 2;
  }
}

.personal-info__button {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 18px;
  text-transform: uppercase;
  color: $basic-blue-dark;
  background-color: $special-blue-light;
  border-radius: 20px;

  &:focus,
  &:hover {
    background-color: $another-blue-light;
  }

  &:active {
    color: $basic-blue-dark-30;
  }
}

.personal-info__item {
  margin: 0;
  grid-column: 1 / 3;

  &--tags {
    grid-row: 4;

    @media (min-width: $tablet-width) {
      grid-column: 1 / 4;
    }

    @media (min-width: $desktop-width) {
      grid-column: 1;
      grid-row: 3;
    }
  }

  &--transport {
    grid-row: 5;

    @media (min-width: $tablet-width) {
      grid-column: 2;
      grid-row: 2;
    }

    @media (min-width: $desktop-width) {
      grid-column: 3;
      grid-row: 3;
    }
  }
}

.personal-info__title {
  margin: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: $special-blue;
}

.personal-info__tags {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: $special-grey;
  border: 1px solid $another-blue-medium;
  border-radius: 10px;
  resize: none;
  background-color: $basic-blue-lighten;

  &::placeholder {
    opacity: 0.6;
  }

  &:hover {
    border: 1px solid $another-blue-dark;
  }

  &:focus {
    border: 1px solid $basic-blue-dark;
    outline: none;
  }
}
