.plan-number {
  position: relative;
}

.plan-number__input {
  font-weight: 500;
  font-size: 15px;
  line-height: 14px;
  text-transform: uppercase;
  color: $special-blue;
  background-color: $basic-white;
  border: 1px solid $another-blue-medium;
  border-radius: 4px;
  width: 100%;
  height: 43px;
  text-align: center;

  &:hover {
    border: 1px solid $another-blue-darken;
  }

  &:focus {
    border: 1px solid $basic-blue-dark;
    outline: none;
  }

  &::placeholder {
    color: $special-blue;
  }
}

.plan-number__button {
  position: absolute;
  border: none;
  background-color: transparent;
  height: 100%;
  width: 40px;
  top: 0;

  &--minus {
    left: 0;
  }

  &--plus {
    right: 0;
  }
}

.plan-number__button-img {
  width: 14px;
  height: 14px;
  fill: #959bb2;
}
