.promo-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.promo-list__item {
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: $basic-blue-dark;
  border-radius: 10px;
  background-color: $basic-yellow;
  width: 100%;

  @media (min-width: $tablet-width) {
    width: 50%;
  }

  @media (min-width: $desktop-width) {
    width: 25%;
  }

  &--1 {
    background-color: $special-orange;
  }

  &--2 {
    background-color: $special-orange-light;
  }

  &--3 {
    background-color: $special-yellow-dark;
  }

  &--4 {
    background-color: $basic-yellow;
  }
}
