.promo {
  background-color: $basic-blue;
  color: $basic-white;
  background-image:
    url("../img/traveller-illustration-mobile@1x.png"),
    url("../img/globe-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  padding-bottom: 39px;
}

.promo__text {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  margin: 0;
}

.promo__contact {
  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}
