.socials__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.socials__link {
  display: block;
  width: 45px;
  height: 45px;
  border-radius: 50%;

  &::after {
    content: "";
    display: block;
    width: 45px;
    height: 45px;
    background-repeat: no-repeat;
    background-position: center;
  }

  &:focus,
  &:hover {
    outline: none;

    &::after {
      opacity: 0.6;
    }
  }

  &:active {
    &::after {
      opacity: 0.3;
    }
  }

  &--yellow {
    background-color: $basic-yellow;


    &:focus,
    &:hover {
      background-color: $special-yellow-dark;
      opacity: 1;

      &::after {
        opacity: 1;
      }
    }

    &:active {
      opacity: 1;

      &::after {
        opacity: 0.3;
      }
    }
  }

  &--fb::after {
    background-image: url("../img/facebook.svg");
    background-size: 11px, 21px;
  }

  &--vk::after {
    background-image: url("../img/vk.svg");
    background-size: 23px, 12px;
  }

  &--inst::after {
    background-image: url("../img/instagram.svg");
    background-size: 18px, 18px;
  }
}
