.title {
  background-color: $basic-blue-darken;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.title__link {
  display: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: $basic-white;

  &:focus,
  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}
