.transport-field {
  display: flex;
  padding-bottom: 11px;
  padding-top: 4px;

  @media (min-width: $desktop-width) {
    margin-top: -15px;
  }

  &--center {
    justify-content: center;
    padding-bottom: 0;

    @media (min-width: $tablet-width) {
      padding-top: 12px;
    }

    @media (min-width: $desktop-width) {
      margin-top: 0;
    }
  }
}

.transport-field__item {
  margin: 0;
}

.transport-field__label {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: $basic-white;
  opacity: 1;
  margin: 0;
  text-align: center;
  padding-top: 8px;

  @media (min-width: $tablet-width) {
    width: 43px;
    height: 43px;
    padding-top: 11px;
  }
}

.transport-field__img {
  width: 16px;
  height: 16px;
  fill: #d9d9d9;

  @media (min-width: $tablet-width) {
    width: 22px;
    height: 22px;
  }
}

.transport-field__input:checked + .transport-field__label .transport-field__img {
  fill: $special-blue;
}

.transport-field__input {
  &:focus,
  &:hover {
    + .transport-field__label {
      box-shadow: 0 2px 6px rgba(22, 28, 53, 0.17);

      .transport-field__img {
        opacity: 0.7;
      }
    }
  }

  &:active {
    +.transport-field__label {
      background-color: $another-blue-lighten;

      .transport-field__img {
        opacity: 0.3;
      }
    }
  }
}
