// Colors

$basic-blue: #192144;
$basic-blue-light: #edeff6;
$basic-blue-lighten: #d6daed;
$basic-blue-dark: #161c35;
$basic-blue-dark-30: rgba(#161c35, 0.3);
$special-blue: #1d2e5b;
$special-blue-30: rgba(#1d2e5b, 0.3);
$special-blue-medium: #132576;
$special-blue-light: #dfe3f0;
$special-blue-lighten: #e6e8f1;
$special-blue-dark: #121936;

$basic-white: #ffffff;

$basic-yellow: #ffd74b;
$special-yellow-dark: #ffbd30;

$basic-black: #000000;
$special-grey: #444444;
$special-light-grey: #e5e5e5;

$special-red: #f47e7e;

$special-orange: #ff8d30;
$special-orange-light: #ffa530;
$special-orange-dark: #f26926;
